{% extends 'index.html' %}

{% block title %}
    Crud Operations
{% endblock  %}
{% block body %}
    
    <!-- Heading -->
    <div class="container-fluid">
     
        <div class="bg-dark mt-2 p-2">
        <center><h1 class="text-light">CRUD Operations</h1></center>
      </div>
      {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages%}
                    <div class="alert alert-{{category}}" role="alert">
                    {{message}}    
                    </div>
                    {% endfor %}
                {% endif %}
                
                {% endwith%}
            
      <!-- Detail Form -->
      <div class="mt-3">
        <div class="row">
          <div class="col-md-5">
            <form action="/create" method="POST">
              <div class="mb-3">
                <label for="exampleInputName" class="form-label"
                  >Full Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputName"
                  aria-describedby="emailHelp"
                  name="full_name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputSalary" class="form-label"
                  >Salary</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputSalary"
                  name="salary"
                />
              </div>
              <button type="submit" class="btn btn-dark w-100">ADD</button>
            </form>
          </div>
          <div class="col-md-7">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">FullName</th>
                  <th scope="col">Salary</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{user.full_name}}</td>
                  <td>{{user.salary}}</td>
                  <td><a class="btn btn-info btn-sm text-white" href="/update/{{user.id}}" role="button">EDIT</a></td>
                  <td><a class="btn btn-danger btn-sm" href="/delete/{{user.id}}" role="button">DELETE</a></td>
                </tr>

                {% endfor %}

               </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endblock  %}
