{% extends 'index.html' %}

{% block body %}
    <!-- Heading -->
    <div class="container-fluid">
        <div class="bg-dark mt-2 p-2">
          <center><h4 class="text-light">Update {{user.full_name}}</h4></center>
        </div>
        <!-- Detail Form -->
              <form action="/update/{{user.id}}" method="POST">
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label"
                    >Full Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputName"
                    aria-describedby="emailHelp"
                    name="full_name"
                    value="{{user.full_name}}"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputSalary" class="form-label"
                    >Salary</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="exampleInputSalary"
                    name="salary"
                    value="{{user.salary}}"
                  />
                </div>
                <button type="submit" class="w-100 btn btn-dark">Update</button>
              </form>
            
      </div>
{% endblock %}